* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: none;
}

body {
    font-family: "gandur-new", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #136F63;
    font-size: 43px;
    background-color: #081211;
    width: 100vw;
    height: 100vh;
    transition: all 0.5s ease-out;
    position: relative;
}

#cursor {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #072723;
    position: absolute;
    z-index: 9999;
    pointer-events: none;
    transform: translate(-50%, -50%);
    outline: 1px solid #136F63;
    transition:
        width 0.2s ease-out,
        height 0.2s ease-out,
        background-color 0.2s linear;
    text-align: center;
    color: #FB8B24;
    font-size: 100px;
    line-height: 65px;
}

#splash-screen {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

#bg-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: bottom / cover no-repeat;
    opacity: 0.5;
}

#splash-screen::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(Img/Beginning.png) bottom / cover no-repeat;
    opacity: 0.5;
}

#splash-screen h1 {
    font-size: 350px;
    line-height: 350px;
    margin: 0;
    padding: 50px;
    font-weight: inherit;
    font-style: inherit;
    position: absolute;
    bottom: 0;
    left: 0;
}

#splash-screen div.info {
    line-height: 30px;
    padding: 50px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 30px;
}

#splash-screen button {
    position: absolute;
    bottom: 50px;
    right: 50px;
}

#game-container {
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

canvas,
video {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
}

video {
    transform: scaleX(-1);
    width: 200px;
    height: auto;
}

#game-container h3 {
    display: block;
    position: absolute;
    margin: 0;
    padding: 10px 40px 20px 40px;
    font-weight: inherit;
    font-style: inherit;
    left: 0;
    top: 0;
    background-color: #136F63;
    color: #081211;
}

button,
a {
    margin: 0;
    border: 0;
    padding: 10px 20px 20px 20px;
    color: inherit;
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    width: fit-content;
    height: fit-content;
    position: absolute;
    line-height: 43px;
    transition: all 0.2s ease-out;
    z-index: 100;
    display: block;
    outline: 1px solid #136F63;
}

button.path:first-of-type {
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

button.path:nth-of-type(2) {
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
}

button.path:nth-of-type(3) {
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
}

button.path:nth-of-type(4) {
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

a {
    color: inherit;
    text-decoration: none;
    display: block;
    font-size: 43px;
    position: relative;
}

#person {
    width: 500px;
    height: 500px;
    background: center / contain no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
    transition:
        width 1s ease-out,
        height 1s ease-out,
        top 1s ease-out,
        left 1s ease-out;
}

#charactername {
    position: absolute;
    width: fit-content;
    z-index: 1000;
    top: 72%;
    left: 50%;
    transform: translate(-50%);
    background-color: #136F63;
    color: #072723;
    padding: 5px 20px 10px 20px;
    transition: 
        color 0.2s ease-out,
        background 0.2s ease-out;
        
}


#textbox {
    font-weight: 300;
    width: 50%;
    height: 170px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    outline: 3px #136F63 solid;
    background-color: #072723;
    transform: translateX(-50%);
    padding: 20px 20px 10px 20px;
    font-size: 30px;
    letter-spacing: 0.5px;
    display: none;
    z-index: 100;
    text-overflow: ellipsis;
    transition: 
        outline 0.2s ease-out,
        color 0.2s ease-out,
        background 0.2s ease-out;
}